.autor_white {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5vh;
  width: 75vw;
  height: 12vh;
  font-size: clamp(1rem, 6vw, 3rem);
}

.autor_jesse {
  width: 75vw;
  height: 12vh;
  margin-bottom: 5vh;
  text-align: right;
  font-size: clamp(1rem, 6vw, 3rem);
}
