.btn {
  width: 30vw;
  min-width: 100px;
  height: 10vw;
  background-color: #807759;
  border-width: 0;
  outline: none;
  font-family: typewriter;
  font-size: 1.4rem;
  color: #e6e0cf;
  box-shadow: 10px 6px 15px 0 rgba(0, 0, 0, 0.2),
    10px 6px 22px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition-duration: 0.6s;
}

.btn:hover {
  background: #e6e0cf;
  color: #0d0d0d;
}
.btn:active {
  background: lighten(#e6e0cf, 50%);
}
