.quote {
  min-width: 175px;
  text-align: left;
  font-size: 1.8rem;
  transition-duration: 2s;
  animation: move 2s ease-in;
}

@keyframes move {
  0% {
    color: #f5ddb3;
  }

  100% {
    color: #262626;
  }
}
