*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: typewriter;
}

@font-face {
  font-family: typewriter;
  src: url('/fonts/moms_typewriter.woff');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f5ddb3;
  background-image: url('./components/white.png'), url('./components/jesse.png');
  background-size: 30vh, 19vh;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}
